xft.dpi: 45

!URxvt.transparent: true
! 0-99 darkens 101-200 lightens
!URxvt.shading: 15

URxvt.depth: 32
!URxvt.background: rgba:1111/1111/1111/dddd
URxvt.background: [95]#303030

URxvt.borderLess:
URxvt.termname: urxvt
URxvt.loginShell: true
URxvt.scrollBar: off
URxvt.perl-ext-common:  default,matcher,clipboard
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 8
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    8
URxvt.urlLauncher: /usr/bin/midori
URxvt.matcher.button: 1
URxvt.font:  xft:ohsnap:size=10:antialias=false
!URxvt.font:-*-termsyn-medium-*-*-*-12-*-*-*-*-*-*-*

!URxvt.cursorColor: #cdcdcd 
URxvt.cursorBlink: True

!*background: #222222
*foreground: #cdcdcd
!black
 URxvt.color0:  #333333
 URxvt.color8:  #666666
!red
 URxvt.color1:  #A94952
 URxvt.color9:  #ED6975
!green
 URxvt.color2:  #83A949
 URxvt.color10: #B8ED69
!yellow
 URxvt.color3:  #A99F49
 URxvt.color11: #EDE169
!blue
 URxvt.color4:  #4983A9
 URxvt.color12: #69B8ED
!magenta
 URxvt.color5:  #A94983
 URxvt.color13: #ED69B8
!cyan
 URxvt.color6:  #49A99F
 URxvt.color14: #69EDE1
!white
 URxvt.color7:  #AAAAAA
 URxvt.color15: #CCCCCC 
